# Ambiente virtual
.venv/
venv/
ENV/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição / empacotamento
dist/
build/
*.egg-info/

# Banco de dados
databases/public/
databases/test/
indices/

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/
.benchmarks/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Arquivos de ambiente
.env
.env.*

# Arquivos temporários
*.log
*.tmp 

# Arquivos do plantUML
*.png
architecture.puml

# resumos
summary.txt
update.txt